<!DOCTYPE html>
<html>
	<head><title>Is Ethereum Dead Yet?</title></head>
    <body style="background-color:black;">
    <img src="no.jpeg" alt="No width="480" height="480">

    <div style="position: relative">
    <p style="position: fixed; bottom: 0; width:100%; text-align: left; color: white;">Donate: ETH <a href="https://www.blockchain.com/eth/address/0xa3327EF3F8DDBaaF5C98834af00bF27C200Bbb55"> 0xa3327EF3F8DDBaaF5C98834af00bF27C200Bbb55
    </a>
    </p>
    <p style="color: white;">
        The current price of ETH is ${{ price }}
    </p>
</div>
</body>
</html>
